$color-primary: #ffbc2c;
$color-primary-hover: #ed6444;
$color-text: #222;
$color-text-secondary: #666;
$color-text-grey: #6f6f6f;
$color-button-hover: #ed6444;
$color-button-background: #fff;
$color-background: #fff;
// $color-border: #ddd;
$color-border: #b6b6b6;
$color-text-placeholder: #b6b6b6;
$color-text-point: #ed6444;
// $color-background: #f8f8f8;
$color-white: #fff;