// 수정 전
$color-primary: #ffbc2c; // primary-color
$color-primary-hover: #ed6444; // primary-hover-color
$color-text: #222; // text-color
$color-text-secondary: #666; // secondary-text-color
$color-text-grey: #6f6f6f;
$color-button-hover: #ed6444; // primary-hover-color
$color-button-background: #fff; // background
$color-background: #fff; // background

$color-border: #b6b6b6; // border-color
$color-text-placeholder: #b6b6b6; // placeholder-color
$color-text-point: #ed6444; // primary-hover-color

$color-white: #fff; // white-color
$scrollbar-color: #626a7f;

// 수정 후
$primary-color: #ffbc2c;
$primary-hover-color: #ed6444;
$text-color: #222;
$text-title-color: #333;
$text-subheading-color: #97a7ca;
$secondary-text-color: #666;
$secondary-text-grey: #6f6f6f;
$background-color: #fff;
$card-color: #f3f7ff;

$border-color: #b6b6b6;
$border-active-color: #ffbc2c;
$border-light-color: #e1e1e1;
$placeholder-color: #b6b6b6;
$icon-color: #999;
$white-color: #fff;
$message-color: rgb(252, 241, 217);
$danger-color: #d62939;

// 폰트 관련
$font-family-eng: 'Roboto', sans-serif;
$font-size-base: 15px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-lg: 24px;
$font-size-xxl: 30px;
$font-icon-xs: 18px;
$font-icon-base: 28px;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// 모서리 관련
$radius-sm: 4px;   // 작은 둥근 모서리
$radius-md: 8px;   // 중간 둥근 모서리
$radius-lg: 12px;  // 큰 둥근 모서리
$radius-xl: 16px;  // 매우 큰 둥근 모서리
$radius-xxl: 20px;
$radius-round: 50%; // 완전 원형 (버튼, 프로필 이미지 등)

$light-primary-color: #f3f7ff;
$light-secondary-color: #dce6f9;
$light-placeholder-color: #606982;
$light-secondary-hover-color: #d2ddf2;
$light-text-color: #090c13;

// 다크모드
$dark-primary-color: #101623;
$dark-background-color: #101623;
$dark-text-color: #edf3ff;
$dark-secondary-color: #283045;
$dark-placeholder-color: #c3cdde;


// 수정
// :root {
//   // --text-color: #edf3ff;
//   --subheading-color: #97a7ca;
//   --placeholder-color: #c3cdde;
//   --primary-color: #101623;
//   --secondary-color: #283045;
//   --secondary-hover-color: #333e58;
//   --scrollbar-color: #626a7f;
// }

// body {
//   &.light-theme {
//     --text-color: #090c13;
//     --subheading-color: #7b8cae;
//     --placeholder-color: #606982;
//     --primary-color: #f3f7ff;
//     --secondary-color: #dce6f9;
//     --secondary-hover-color: #d2ddf2;
//     --scrollbar-color: #a2aac2;
//   }

//   background-color: var(--primary-color);
//   color: $text-color;
// }
